.bg {
    background-color: #F1FDFF;
}

.solar {
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

#solar-title {
    font-size: 50px;
    margin-top: 70px;
}

#visual-solar {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#status-ldr-right {
    position: absolute;
    top: 35vh;
    left: 37vw;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#status-ldr-left {
    position: absolute;
    top: 35vh;
    right: 37vw;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#status-ldr-top {
    position: absolute;
    top: 20vh;
    right: 49vw;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#status-ldr-bottom {
    position: absolute;
    top: 45vh;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#status-servo-bottom {
    position: absolute;
    top: 61vh;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#status-servo-center {
    position: absolute;
    top: 35vh;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#onSelected {
    border-color: wheat;
}

.green {
    background-color: limegreen;
}

.red {
    background-color: red;
}

.charts-solar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 65%;
    padding-left: 335px;
    background-color: #F1FDFF;
}

.chart {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#solar_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}