.bg-sign-in {
    background-color: #0000007c;
    height: 100vh;
    width: 100vw; /* Changed to cover full width */
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #01579b;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 155, 0.5);
    width: 500px;
    max-width: 90%;
}

#container-sign-in h1 {
    color: white;
    font-size: 2em;
}

#container-sign-in form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#container-sign-in label {
    color: white;
    font-size: 1.2em;
    margin-top: 20px;
}

#container-sign-in input {
    width: 250px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    transition: border-color 0.3s; /* Transition for focus effect */
}

#container-sign-in input:focus {
    outline: none; /* Remove default outline */
    border: 2px solid #039BE5; /* Add border on focus */
}

#container-sign-in button {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin-top: 100px;
    border-radius: 5px;
    border: none;
    background-color: #039BE5;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s; /* Transition effects */
}

#container-sign-in button:hover {
    background-color: #0288D1;
}

#container-sign-in button:active {
    transform: scale(0.95);
}

#container-sign-in button:disabled {
    background-color: #ccc; /* Style for disabled state */
    cursor: not-allowed;
}

#container-sign-in a {
    color: white;
    margin-top: 20px;
    text-decoration: underline;
}

.error-message {
    color: red; /* Style for error messages */
    margin: 10px 0;
}

@media (max-width: 600px) {
    #container-sign-in {
        width: 80%;
    }
    #container-sign-in input {
        width: 200px;
    }
}
