.HOME {
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F1FDFF;
}
.relative {
    position: relative;
}

.sign-up-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #039BE5;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

h1 {
    font-size: 100px;
    margin-bottom: 20px;
    color: #01579B;
}

#home-container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100vh;
    background-color: #F1FDFF;
}