.bg-sign-up {
    background-color: #0000007c;
    height: 100vh;
    width: 100vw; /* Changed to cover full width */
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #01579b;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 155, 0.5);
    width: 500px;
    max-width: 90%;
}

#container-sign-up h1 {
    color: white;
    font-size: 2em;
}

#container-sign-up form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#container-sign-up label {
    color: white;
    font-size: 1.2em;
    margin-top: 20px;
}

#container-sign-up input {
    width: 250px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

#container-sign-up input:focus {
    outline: none;
    border: 2px solid #039BE5; /* Highlight color */
    box-shadow: 0 0 5px rgba(3, 155, 229, 0.5);
}

#container-sign-up button {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin-top: 100px;
    border-radius: 5px;
    border: none;
    background-color: #039BE5;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

#container-sign-up button:hover {
    background-color: #0288D1;
}

#container-sign-up button:active {
    transform: scale(0.95);
}

#container-sign-up a {
    color: white;
    margin-top: 20px;
    text-decoration: underline;
}

.error-message {
    color: #ff1744; /* Error color */
    font-size: 1em;
    margin-top: 10px;
}

@media (max-width: 600px) {
    #container-sign-up {
        width: 80%;
    }
    #container-sign-up input {
        width: 200px;
    }
}
